<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>{% block title %}Loan Calculator{% endblock %}</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6" style="
                    margin: 0 auto;
                    margin-top: 2rem;
                ">
          <h1 style="margin-top: 2rem;">Loan Calculator</h1>
          <i style="text-align: center;">Minimum 2 fields required to calculate 3rd field.</i>
          <br>
          <i style="text-align: center;">If 3 values are provided, the interest rate will be analysed in the results.</i>
          <form method="post" style="margin-top: 2rem;">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary" style=
            "margin: 0 auto; display: block; margin-top: 2rem;">Submit</button>
          </form>
          <h1 style="margin-top: 4rem;">Results</h1>
          Monthly Repayment Amount = {{monthlyRepayments}}
          <br>
          Number of Repayments = {{numPayments}}
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>